

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    Button{
        background-color: Blue;
            color: white;
            border: none;
            height: 25%; 
            border-radius: 3px;
            width: 50%;
    }
    .NavBar{
        padding-top: 2%;
        
    }

    #content{
      padding: 2% 0% 1% 11%;
      background-color: #f4f6f7;
    }
    .iconText{
      padding:4% 33% 0% 4%
    }
  
    .iconImage{
      padding:4% 0% 0% 7%
    }

    
    
  }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #mobileFormText{
    text-align: center
  }

  #content{
    padding: 2% 0% 1% 11%;
    background-color: #f4f6f7;
  }

  .textField{
    text-align: center
   }

   .iconText{
    padding:4% 23% 0% 6%
  }

  .iconImage{
    padding:4% 0% 0% 7%
  }



  }

  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
  #mobileFeatures{
    margin: 0% 5% 10% 7%;
}

#mobileForm{
  margin: 0% 5% 0% 5%;
  text-align: center
}
br{
  display: none
}
#slogan{
  text-align: center
}

#signupBR{
  display: none
}


    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    #mobileFormText{
      text-align: center
    }
   
    #slogan{
      text-align: left;
      padding-left: 5%
    }
  
  #mobileForm{
    margin: 0% 5% 0% 5%;
    text-align: center
  }
  
  #signupBR{
    display: none
  }
  
  #mobileFeatures{
    padding: 0% 0% 6% 0%;
  }
  
  .featureIcon img{
    width:70px;
    height:60px;
  }
  .iconTitle{
    padding: 5% 10% 0% 10%;
    text-align: center;
    font-size: 100px
  }
  .iconDescription{
    /* margin: 0% 10% 0% 6%; */
    padding: 0% 15% 0% 15%;
    text-align: center;
  }
  .iconTitle2{
    padding: 2% 10% 0% 10%;
    text-align: center;
    font-size: 100px
  }
  .iconDescription2{
    /* margin: 0% 10% 0% 6%; */
    padding: 0% 33% 0% 33%;
    text-align: center;
  }

  }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  #slogan{
    text-align: left;
    padding-left: 5%
  }

#mobileForm{
  margin: 0% 5% 0% 5%;
  text-align: center
}

#signupBR{
  display: none
}

#mobileFeatures{
  padding: 0% 0% 6% 0%;
}

.featureIcon img{
  width:70px;
  height:60px;
}
.iconTitle{
  padding: 5% 10% 0% 10%;
  text-align: center;
  font-size: 100px
}
.iconDescription{
  /* margin: 0% 10% 0% 6%; */
  padding: 0% 12% 0% 12%;
  text-align: center;
}
.iconTitle2{
  padding: 2% 10% 0% 10%;
  text-align: center;
  font-size: 100px
}
.iconDescription2{
  /* margin: 0% 10% 0% 6%; */
  padding: 0% 26% 0% 26%;
  text-align: center;
}



    
  }

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  @media (min-width: 320px) and (max-width: 480px) {
  
    #slogan{
      text-align: left;
      padding-left: 5%
    }
    #mobileForm{
      margin: 0% 5% 0% 5%;
    }

    #signupBR{
      display: none
    }
    #mobileFormText{
      text-align: center
    }
    .textField{
     text-align: center
    }

    #mobileFeatures{
      padding: 0% 0% 6% 0%;
    }

    .featureIcon img{
      width:70px;
      height:60px;
      margin-top: 5%;
    }

    .iconTitle{
      padding: 5% 10% 0% 10%;
      /* text-align: center; */
      font-size: 100px
    }
    .iconDescription{
      /* margin: 0% 10% 0% 6%; */
      padding: 0% 10% 0% 10%;
      /* text-align: center; */
    }
    .iconTitle2{
      padding: 5% 10% 0% 10%;
      /* text-align: center; */
      font-size: 100px
    }
    .iconDescription2{
      /* margin: 0% 10% 0% 6%; */
      padding: 0% 10% 0% 10%;
      /* text-align: center; */
    }

    
  }